body {
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-color: var(--bg);
}
  
.home-page-background {
    grid-row: 1 / 3;
    position: absolute;
    width: 100%;
    height: 730px;
    background: url('/bg.png') no-repeat;
    background-size: cover;
    z-index: 0;
}
  
.home-content {
    position: relative;
    z-index: 1;
    grid-row: 2;
    margin-bottom: 25px;
}
  
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    background-color: transparent;
}
  
.home-title {
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin-bottom: 1em;
    font-size: 63px;
    font-weight: 1000;
    margin-top: 20px;
}
  
.home-gold {
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
  
.home-sections {
    display: flex;
    gap: 4em;
    width: 95%;
    margin-top: 50px;
}
  
.home-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    border-radius: 27px;
    background: linear-gradient(var(--bg), var(--bg)) padding-box,
      var(--gradient) border-box;
    border: 6px solid transparent;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
}
  
.home-section:hover {
    transform: scale(1.05);
}
  
.home-section-title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
  
.home-section-description {
    text-align: center;
    font-size: 17px;
    color: white;
    font-weight: 600;
}
  
@media (max-width: 1080px) {
    .home-page-background {
      height: 100%;
    }
  
    .home-title {
      text-align: center;
    }
  
    .home-container {
      padding: 2em 1em;
    }
  
    .home-sections {
      flex-direction: column;
      gap: 2em;
    }
  
    .home-section {
      flex: none;
      padding: 1em;
    }
  
    .home-section-title {
      text-align: center;
    }
}  