.header {
    grid-row: 1;
    z-index: 1;
    background: rgba(55, 55, 55, 0.6);
    height: 67px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header-not-home {
    background: rgba(55, 55, 55);
}

.logo-container {
    position: absolute;
    left: 10px;
    margin-bottom: 0.2px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 67px;
    padding: 20px;
    transition: background 0.3s ease-in-out;
}

.nav-item:hover {
    background: rgba(86, 86, 86, 0.32);
}

.nav-link {
    font: var(--font-family);
    font-style: normal;
    color: white;
    transition: text-shadow 0.3s ease-in-out;
}

.nav-item:hover .nav-link {
    text-shadow: 0px 0px 3px var(--primary);
}
  
.nav-link.text-accent {
    font-size: 22px;
    font-weight: 600;
    color: white;
}
  
.nav-link.text-primary {
    font-size: 22px;
    font-weight: 600;
    color: white;
}