.main-section {
    grid-row: 2;
    grid-column: 2;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .calculator-sections {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    margin-top: 50px;
  }
  
  .calculator-section {
    flex: 0 1 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    border-radius: 27px;
    background: linear-gradient(var(--bg), var(--bg)) padding-box,
      var(--gradient) border-box;
    border: 6px solid transparent;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
  }
  
  .calculator-section:hover {
    transform: scale(1.05);
  }
  
  .calculator-section-title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
    text-align: center;
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .calculator-section-description {
    text-align: center;
    font-size: 17px;
    color: white;
    font-weight: 600;
  }
  
  @media (max-width: 1080px) {
    .calculator-container {
      grid-template-columns: 1fr;
    }
  
    .calculator-sections {
      flex-direction: column;
      gap: 2em;
    }
  
    .calculator-section {
      flex: none;
      padding: 1em;
    }
  }
  
.sidebar {
    grid-row: 2;
    grid-column: 1;
    padding: 2em;
    background-color: var(--bg2);
  }
  
  .sidebar-link {
    display: block;
    margin-bottom: 1em;
    text-decoration: none;
    color: var(--text-light);
  }
  
  .sidebar-link:hover {
    color: var(--primary);
  }
  
  .main-section {
    grid-row: 2;
    grid-column: 2;
    padding: 2em;
  }
  
  .calculator-container {
    display: grid;
    grid-template-columns: 240px 1fr;
  }
  
  @media (max-width: 1080px) {
    .sidebar, .main-section {
      grid-column: 1;
    }
  
    .calculator-container {
      grid-template-columns: 1fr;
    }
  }  