.sidebar {
    position: sticky;
    grid-row: 1 / 3;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    padding: 2em;
    background-color: var(--bg2);
}

.sidebar-title {
    color: var(--primary);
    font-weight: 600;
    margin-bottom: 8px;
}

.sidebar-link {
    display: block;
    margin-left: 12px;
    margin-bottom: 8px;
    text-decoration: none;
    color: var(--text-light);
}

.sidebar-link:hover {
    color: var(--primary);
}

@media (max-width: 1080px) {
    .sidebar {
        position: static;
        width: 100%;
        height: auto;
        grid-row: 1;
    }
}