.footer {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    background: var(--bg2);
    text-align: center;
    margin-top: auto;
}
  
.footer-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 97px;
    padding: 0;
}
  
.footer-text {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 21px;
    background: var(--gradient);
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.footer-discord {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 21px;
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: auto;
    display: block;
    display: flex;
}

.footer-discord-icon{
  margin-left: 10px;
}

@media (max-width: 900px) {
  .footer-container {
    flex-direction: column;
    height: auto;
    padding: 1rem 0;
  }

  .footer-text{
    margin: 0.5rem;
  }

  .logo {
    position: relative;
    left: initial;
    transform: initial;
  }

  .bwl-text{
    display: none;
  }
}   