.spacer{
    margin-top: 20px;
    margin-bottom: 20px;
}

.infobox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    padding: 2em;
    background-color: var(--bg);
}
  
.title {
    font-family: var(--font-family);
    color: var(--primary);
    margin-bottom: 1em;
    font-size: 3em;
    font-weight: 1000;
}
  
.button-group {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    width: 95%;
    margin-top: 50px;
    justify-content: center;
}
  
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--gradient-2);
    color: var(--text-light);
    padding: 1em;
    border-radius: 8px;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
    width: 200px;
    height: 60px;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}
  
.button:hover {
    transform: scale(1.05);
}

.features{
    background-color: var(--bg2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title {
    font-weight: 700;
    font-size: 40px;
    margin-top: 30px;
    color: var(--secondary);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 8px;
}
  
.features-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 2em;
}
  
.features-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    width: 40%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    background-color: var(--bg);
}
  
.features-box img {
    max-height: 400px;
}
  
.features-box .title {
    margin-top: 20px;
    font-size: 2em;
    font-weight: 700;
}
  
.features-box .description {
    font-size: 1.2em;
    text-align: center;
    color: var(--text-light);
}

.commands {
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    width: 100%;
}

.command-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-top: 2em;
}

.command-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: var(--bg2);
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
}

.command-name {
    font-weight: bold;
    color: var(--secondary);
    font-size: 1.2em;
}

.command-description {
    color: var(--text-light);
    font-size: 1.1em;
}