.wiki-infobox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    padding: 2em;
    background-color: var(--bg);
}
  
.wiki-title {
    font-family: var(--font-family);
    color: var(--primary);
    margin-bottom: 1em;
    font-size: 3em;
    font-weight: 1000;
}
  
.wiki-button-group {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    width: 95%;
    margin-top: 50px;
    justify-content: center;
}
  
.wiki-button {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    border-radius: 27px;
    background: linear-gradient(var(--bg), var(--bg)) padding-box,
      var(--gradient) border-box;
    border: 6px solid transparent;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
    color: white;
    font-weight: 600;
    font-size: 1.2em;
    text-align: center;
    max-width: 350px;
    height: 40px;
}
  
.wiki-button:hover {
    transform: scale(1.05);
}
  
.wiki-features {
    background-color: var(--bg2);
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.wiki-section-title {
    font-weight: 700;
    font-size: 40px;
    margin-top: 30px;
    color: var(--secondary);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 8px;
}
  
.wiki-features-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 2em;
}
  
.wiki-features-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    width: 40%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    background-color: var(--bg);
}
  
.wiki-features-box img {
    max-height: 400px;
}
  
.wiki-features-box .wiki-title {
    margin-top: 20px;
    font-size: 2em;
    font-weight: 700;
}
  
.wiki-features-box .wiki-description {
    font-size: 1.2em;
    text-align: center;
    color: var(--text-light);
}
  
.wiki-commands {
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    width: 100%;
}
  
.wiki-command-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-top: 2em;
}
  
.wiki-command-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: var(--bg2);
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}
  
.wiki-command-name {
    font-weight: bold;
    color: var(--secondary);
    font-size: 1.2em;
}
  
.wiki-command-description {
    color: var(--text-light);
    font-size: 1.1em;
}  